<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CurrMapper">
 <!-- 获取所有币种信息 -->
 <select id="getAll" resultType="com.example.demo.model.Curr">
   select * from currency
 </select>
 <!-- 根据c_id获取币种信息 -->
 <select id="getById" resultType="com.example.demo.model.Curr">
  select * from currency where c_id=#{c_id}
 </select>
</mapper>