<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.InfoMapper">
 <!-- 根据主键id获取合同表信息 -->
 <select id="getById" resultType="com.example.demo.model.Info">
    select * from info where id=#{id}
 </select>
 <!-- 根据合同号cn和创建日期date获取合同表信息 -->
	<select id="getInfo" resultType="com.example.demo.model.Info">
	  select * from info where cn=#{cn} and date=#{date}
	</select>
 <!-- 获取合同表所有信息 -->
	<select id="getAll" resultType="com.example.demo.model.Info">
	 select * from info
	</select>
	
 <!-- 新增信息到合同表 -->
	<insert id="addInfo">
	 insert into
        info(id,cn,date,zi,debt,currency,startDay,endDay)
        values(#{id},#{cn},#{date},#{zi},#{debt},#{currency},#{startDay},#{endDay}) 
	</insert>
	
<!-- 根据合同号删除合同信息 -->
	<delete id="deleteInfo">
     delete from info where id=#{id}
	</delete>
	
<!-- 根据id修改某个指定的合同 -->
	<update id="editInfo">
	 update info set cn=#{cn},date=#{date},zi=#{zi},debt=#{debt},currency=#{currency},startDay=#{startDay},endDay=#{endDay} where id=#{id}
	</update>

<!-- 清空合同 -->
    <delete id="deleteAll">
      delete from info 
    </delete>
</mapper>